node_modules
.next
output
.DS_Store
*.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
.opencode/
.vercel
.turbo
coverage
.vscode/
.idea/
public/uploads/*
.omx/
.codex/*
!.codex/agents/
!.codex/agents/**
!.codex/skills/
!.codex/skills/**
.codex/skills/.system/**
!.codex/prompts/
!.codex/prompts/**
